 .u-section-1 {
  background-image: none;
  min-height: 819px;
}

.u-section-1 .u-image-1 {
  height: 814px;
  object-position: 50% 0%;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  margin-top: -817px;
  margin-bottom: 0;
  min-height: 820px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 677px;
  width: 642px;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 122px;
  background-image: linear-gradient(rgba(71,138,201,0), #180202);
  margin-top: -130px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    filter: brightness(0.5);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.backgroundBlur {
	filter: blur(2px);
}
.glassContainer {
	background: linear-gradient(135deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0));
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassContainerTwo {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.05);
}
.shadowBlob {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.removeEvents {
	pointer-events: none;
}