 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/Screenshot_5-28-2022_4-05-49_PM-1.png');
  min-height: 880px;
}

.u-section-1 .u-shape-1 {
  width: 21px;
  height: 21px;
  background-image: linear-gradient(135deg, #4d0700, #180202);
  margin: 175px auto 0 calc(((100% - 1140px) / 2) + 233px);
}

.u-section-1 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 67px auto 0 calc(((100% - 1140px) / 2) + 520px);
}

.u-section-1 .u-shape-2 {
  width: 34px;
  height: 34px;
  background-image: linear-gradient(225deg, #4d0700, #180202);
  margin: 99px calc(((100% - 1140px) / 2) + 140px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(24,2,2,1);
  margin: -105px auto 0 calc(((100% - 1140px) / 2) + 334px);
}

.u-section-1 .u-line-2 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + 520px);
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  font-size: 1rem;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#4d0700, #340303);
  margin: 61px auto 0;
  padding: 10px 48px 11px;
}

.u-section-1 .u-shape-3 {
  height: 105px;
  margin-top: 131px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(71,138,201,0), #180202);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 883px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 233px);
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 68px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 98px;
    margin-right: calc(((100% - 940px) / 2)  + 140px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -102px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    transform-origin: left center 0px;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 133px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 233px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 40px;
    margin-right: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -47px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 233px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 140px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 928px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 233px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 121px;
    margin-right: calc(((100% - 340px) / 2) + 140px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -119px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 96px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 229px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 335px;
}

.u-section-2 .u-group-1 {
  width: 924px;
  min-height: 269px;
  transition-duration: 0.25s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  height: auto;
  margin: -134px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 233px;
  width: 888px;
  margin: 18px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 192px;
  height: 192px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: -200px auto 0 239px;
}

.u-section-2 .u-text-2 {
  margin: 5px 29px 0 239px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 13px 30px 0 239px;
}

.u-section-2 .u-shape-1 {
  width: 117px;
  height: 117px;
  background-image: linear-gradient(45deg, #4d0700, #180202);
  margin: -296px auto 188px -47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 330px;
    min-height: 330px;
    margin-top: -165px;
  }

  .u-section-2 .u-group-2 {
    width: 288px;
    min-height: 288px;
    margin-top: 21px;
  }

  .u-section-2 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 247px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -367px;
    margin-bottom: 0;
    margin-left: -58px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-shape-1 {
    width: 123px;
    height: 123px;
    margin-top: -370px;
    margin-left: -35px;
  }
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]),
.u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]).u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]).u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) !important;
}

.u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]).u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]).u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) !important;
}

.u-container-layout:hover .u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-28a4-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(24,2,2,0.75), rgba(24,2,2,0.75)), url('images/C2.png');
  min-height: 1081px;
}

.u-section-3 .u-shape-1 {
  height: 105px;
  background-image: linear-gradient(#180202, rgba(71,138,201,0));
  margin: 0;
}

.u-section-3 .u-group-1 {
  width: 924px;
  min-height: 269px;
  transition-duration: 0.25s;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -245px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 233px;
  width: 888px;
  margin: 18px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 205px;
  height: 192px;
  margin: 20px auto 0 19px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2rem;
  margin: -186px auto 0 239px;
}

.u-section-3 .u-text-2 {
  margin: 4px 28px 0 240px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 25px 30px 0 239px;
}

.u-section-3 .u-shape-2 {
  width: 117px;
  height: 117px;
  background-image: linear-gradient(45deg, #4d0700, #180202);
  margin: -289px -40px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 53px;
  height: 53px;
  background-image: linear-gradient(135deg, #4d0700, #180202);
  margin: 45px auto 0 calc(((100% - 1140px) / 2) + 108px);
}

.u-section-3 .u-blog-1 {
  width: 1142px;
  margin: 30px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 650px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 30px 0;
}

.u-section-3 .u-image-2 {
  height: 368px;
  margin-top: 21px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-metadata-1 {
  margin: 20px 30px 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  border-style: none none solid;
  text-decoration: none !important;
  margin: 20px auto 0 28px;
  padding: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 30px 0;
}

.u-section-3 .u-image-3 {
  height: 368px;
  margin-top: 21px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-metadata-2 {
  margin: 20px 30px 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  border-style: none none solid;
  text-decoration: none !important;
  margin: 20px auto 0 28px;
  padding: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: 30px 30px 0;
}

.u-section-3 .u-image-4 {
  height: 368px;
  margin-top: 21px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-metadata-3 {
  margin: 20px 30px 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-3 {
  transition-duration: 0.5s;
  border-style: none none solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: none !important;
  margin: 20px auto 0 28px;
  padding: 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d0700, #340303);
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d0700, #340303);
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d0700, #340303);
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#4d0700, #340303);
}

.u-section-3 .u-shape-4 {
  width: 34px;
  height: 34px;
  background-image: linear-gradient(45deg, #4d0700, #180202);
  margin: -17px calc(((100% - 1140px) / 2) + 28px) 0 auto;
}

.u-section-3 .u-shape-5 {
  height: 105px;
  background-image: linear-gradient(rgba(71,138,201,0), #180202);
  margin-top: 52px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
    min-height: 891px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + 118px);
  }

  .u-section-3 .u-blog-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 536px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-metadata-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-metadata-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-metadata-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-shape-4 {
    margin-right: calc(((100% - 940px) / 2) + 28px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1202px;
  }

  .u-section-3 .u-group-1 {
    width: 330px;
    min-height: 330px;
    margin-top: -200px;
  }

  .u-section-3 .u-group-2 {
    min-height: 274px;
    width: 274px;
    margin-top: 28px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -360px;
    margin-right: -58px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2)  + 118px);
  }

  .u-section-3 .u-blog-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    min-height: 884px;
    grid-auto-columns: calc(50% - 2.5px);
    grid-gap: 5px;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -122px;
    margin-right: calc(((100% - 720px) / 2)  + 42px);
  }

  .u-section-3 .u-shape-5 {
    margin-top: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-3 {
    margin-top: 40px;
    margin-left: calc(((100% - 540px) / 2)  + 20px);
  }

  .u-section-3 .u-blog-1 {
    width: 540px;
    margin-top: -10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-shape-4 {
    margin-right: calc(((100% - 540px) / 2) + 42px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 757px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-shape-2 {
    width: 123px;
    height: 123px;
    margin-top: -363px;
    margin-right: -31px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: calc(((100% - 340px) / 2) + 20px);
  }

  .u-section-3 .u-blog-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-shape-4 {
    margin-right: calc(((100% - 340px) / 2) + 42px);
  }
}

.u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]),
.u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]).u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]).u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.03) !important;
}

.u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]).u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]).u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.03) !important;
}

.u-container-layout:hover .u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-64c4-38:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before,
.u-section-3 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-3,
.u-section-3 .u-btn-3:before,
.u-section-3 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.05) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.03) !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: linear-gradient(#180202, #340303);
}

.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/Artech_a_technological_overlord_of_the_universe_non-euclidian_8_fb0d0cc3-4f6d-4e72-ba67-c9c1214f48e7.png");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.5;
  --animation-custom_in-rotate: 0deg;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 66px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#4d0700, #340303);
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.05) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.05) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) !important;
}

.u-section-4 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.glassContainer {
	background: linear-gradient(135deg, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0));
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassContainerTwo {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.05);
}
.shadowBlob {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}